name: "[D] Deploy Wiki"

on:
  push:
    branches:
      - main
    paths:
      - "wiki/**"
      - ".github/workflows/deploy_wiki.yml"

concurrency:
  group: deploy-wiki-${{ github.ref }}
  cancel-in-progress: true

jobs:
  deploy-wiki:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Deploy to GitHub Wiki
        uses: Andrew-Chen-Wang/github-wiki-action@6448478bd55f1f3f752c93af8ac03207eccc3213 # v5.0.3
        with:
          path: wiki/
          strategy: clone
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
